anthropic==0.125.0
langchain==0.3.30
langchain-anthropic==0.3.22
langchain-core==0.3.86
langchain-text-splitters==0.3.11
langgraph==0.6.11
langgraph-checkpoint==2.1.2
langgraph-prebuilt==0.6.5
langgraph-sdk==0.2.9
langsmith==0.4.37
python-dotenv==1.2.1
